
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #e8f0fe;
    color: #333;
}

header {
    background-color: #011e38;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.dark-mode {
    background-color: #121212;
    color: white;
}
.dark-mode section {
    background-color: #1e1e1e;
    color: white;
    border-color: #444;
}

.dark-mode input,
.dark-mode textarea {
    background-color: #333;
    color: white;
    border-color: #555;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 0px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #a0a2a8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


#taskList {
    padding-left: 10px;
}

#taskList li {
    margin-bottom: 10px;
}

.removeTask {
    margin-left: 10px;
    padding: 5px 10px;
}


form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #2563eb;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    color: black;

    padding: 25px;
    width: 300px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;

    z-index: 1000;
}

.modal button {
    margin-top: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #011e38;
    color: #fff;
}


@media (max-width: 768px) {

    header,
    footer {
        text-align: left;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

}
